table {
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: #F6F6F6;
    margin-top: 4px;
}

td {
    padding: 5px 0;
}

thead {
    background-color: #EEE;
    font-weight: bold;
}